.title {
  min-width: 404px;
  width: fit-content;
  margin: 0 auto 67px;
  padding-bottom: 15px;
  text-align: center;
  position: relative;
  font-family: 'Cormorant Garamond';
  font-weight: 600;
  font-size: 36px;
  line-height: 136.1%;
  letter-spacing: 0.065em;
}

.title::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  min-width: 404px;
  width: 100%;
  height: 1px;
  background-color: hsla(0, 0%, 0%, 1);
}

@media (max-width: 1200px) {
  .title {
    min-width: 300px;
    width: fit-content;
    margin: 0 auto 30px;
    padding-bottom: 15px;
    font-size: 28px;
  }
  
  .title::before {
    min-width: 300px;
  }
}

@media (max-width: 768px) {
  
}