.register {
  padding-left: 50px;
}

.register__login-link {
  color: #85D8E3;
  font-weight: bold;
  font-size: 26px;
}

.register__login-link:hover {
  color: #FCC066;
}

.register__login-link:active {
  color: #FF9900;
}

.login__img {
  position: absolute;
  top: -100px;
  left: 0;
  width: 50%;
  background-size: contain;
  z-index: -1;
  display: block;
  height: 100%;
  object-fit: contain;
  max-height: 1000px;
}


@media (max-width: 768px) {
  .login__img {
    display: none;
  }
}