.cart__empty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart__result {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 40px;
}

.cart__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 25px;
}

.cart__list-title {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.cart__container-link {
  margin-top: 80px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.cart__link-page {
  font-size: 24px;
  color: #85D8E3;
  box-sizing: border-box;
  padding: 20px;
}

.cart__link-page:hover {
  color: #00DFFF
}

.cart__link-page:active {
  color: #ff9900
}

.cart__link-page--active {
  border: 2px solid black;
  border-radius: 4px;
}
