body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  box-sizing: border-box;
  margin: 0;
  height: 100%;
}
html {
  height: 100%;
}

a {
  text-decoration: none;
  color: hsla(0, 0%, 0%, 1);
}

button, a {
  cursor: pointer;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.current-page {
  font-size: 36px;
  line-height: 44px;
  color: red;
  text-transform: uppercase;
  cursor: auto;
}

.section {
  padding: 25px calc(50% - 720px);
  max-width: 100%;
  margin-bottom: 150px;
  box-sizing: border-box;
}

.header {
  position: sticky;
  top: 0;
  background-color: #FFFFFF;
  z-index: 10000;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 60px;
}

.header, .footer {
  display: flex;
  justify-content: space-between;  
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header ul,
.footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header li,
.footer li {
  margin: 5px 12px;
}

.header a,
.footer a {
  text-decoration: none;
  color: hsla(0, 0%, 0%, 1);
  line-height: 21.94px;
  padding: 5px 10px;
}

.user-info__container {
  display: flex;
  position: relative;
}

.user-info__container button {
  background-color: transparent;
  border: none;
  outline: none;
}

.user-info__form input {
  border: none;
  border-bottom: 1px solid hsla(0, 0%, 0%, 1);
  outline: none;
}

.btn {
  padding: 15px 27px;
  box-sizing: border-box;
  font-size: 24px;
  line-height: 29px;
  background-color: transparent;
  border: 1px solid hsla(0, 0%, 0%, 1);
  transition: 0.4s;
  min-width: fit-content;
}

.btn:hover {
  background-color: #fcc066;
}

.btn:active {
  background-color: #ff9900;
}

.page {
  text-decoration: none;
  color: hsla(0, 0%, 0%, 1);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
}

.custom-select__control {
  width: 350px;
  border: 1px solid hsla(0, 0%, 0%, 1);
  outline: none !important;
}

.custom-select__control--is-focused {
  border: 1px solid hsla(187, 63%, 71%, 1) !important;
  outline: none !important;
  box-shadow: none !important;
}

.custom-select__value-container {
  padding: 0 !important; 
  cursor: text !important;
}

.custom-select__input-container {
  color: red !important;
}

.custom-select__indicator-separator {
  display: none !important;
}

.custom-select__indicators {
  cursor: pointer !important;
}

.custom-select__indicator {
  color: #66676e !important;
}

.custom-select__indicator:hover {
  color: #999aa5 !important;
}

.custom-select__menu {
  background-color: hsla(187, 63%, 71%, 1) !important;
  color: hsla(0, 0%, 0%, 1) !important;
}

.custom-select__option {
  cursor: pointer !important;
}

.custom-select__option--is-focused {
  background-color: hsla(187, 35%, 82%, 1) !important;
}

li .current-page {
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
}

.page-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

fieldset {
  border: none;
  outline: none;
}

input:checked + label {
  font-size: 18px;
  color: #85D8E3;
  cursor: auto;
}

input:checked + label:hover,
input:checked + label:active {
  color: #85D8E3;
}

label {
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

.slider .quantity-container {
  justify-content: center;
}

.btn-delete {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  color: #85D8E3;
}

.btn-delete:hover {
  color: #00DFFF;
}

@media (max-width: 1500px) {
  .section {
    padding: 25px 60px;
    margin-bottom: 80px;
  }

  .user-info__item--search {
    display: none;
  }
}

@media (max-width: 1200px) {
  .section {
    padding: 25px 40px;
    margin-bottom: 80px;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 20px 20px;
    margin-bottom: 40px;
  }

  .custom-select__control {
    width: fit-content;
  }

  .btn-delete {
    font-size: 14px;
  }
}

